.card {
  position: relative;
}

.card__title {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 24px;
  font-size: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 350px;
  margin: 12px 0 0;
}

.card__delete-btn {
  width: 32px;
  height: 32px;
  position: absolute;
  right: 10px;
  top: 10px;
  border: none;
  background-image: url(../images/delete.svg);
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  cursor: pointer;
}

.card__delete-btn:hover {
  cursor: pointer;
  background-image: url(../images/red-delete.svg);
}

.card__image {
  height: 413px;
  width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__like-btn {
  background-image: url(../images/heart.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 23px;
  height: 20px;
  border: none;
  opacity: 0.4;
  background-color: transparent;
  padding: 0;
  margin: 12px 0 0;
}

.card__like-btn:hover {
  cursor: pointer;
  opacity: 100%;
}

.card__like-btn_active {
  background-image: url(../images/love.svg);
  opacity: 1;
}

.card__like-btn_active:hover {
  opacity: 0.4;
}

@media screen and (max-width: 627px) {
  .card__title {
    max-width: 250px;
    font-size: 16px;
  }

  .card__image {
    height: 288px;
  }
}
