.card__title {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-style: medium;
  font-weight: 500;
  line-height: 24px;
  font-size: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 12px 0 0;
}

.card__image {
  height: 413px;
  width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 8px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__like-btn {
  background-image: url(../images/heart.svg);
  width: 23px;
  height: 20px;
  border: none;
  opacity: 40%;
  background-color: transparent;
  padding: 0;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }
}
