.modal {
  visibility: hidden;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
}

.modal_is-opened {
  visibility: visible;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  opacity: 40%;
  color: rgba(33, 33, 33, 1);
  background-image: url(../images/close.svg);
  background-color: #fff;
}

.modal__title {
  margin: 0 0 32px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  height: 32px;
  color: rgba(33, 33, 33, 1);
}

.modal__label {
  margin: 0 0 32px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 110.00000000000001%;
  color: rgba(33, 33, 33, 0.7);
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  padding: 0;
  width: 100%;
  height: 52px;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  padding-left: 12px;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: rgba(33, 33, 33, 0.3);
}

.modal__input::placeholder {
  color: rgba(33, 33, 33, 0.3);
}

.modal__submit-btn {
  padding: 0;
  background-color: rgba(33, 33, 33, 1);
  color: rgba(252, 245, 229, 1);
  border-radius: 8px;
  height: 52px;
  width: 100%;
  max-width: 156px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
}

@media screen {
  .modal__title {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: rgba(33, 33, 33, 1);
  }

  .modal__submit-btn {
    width: 100%;
    max-width: 276px;
  }
}
